<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetBrowser" version="2.22.1" targetFramework="net48" />
  <package id="DotNetBrowser.Chromium.Win-arm64.Net45" version="2.22.1" targetFramework="net48" />
  <package id="DotNetBrowser.Chromium.Win-x64.Net45" version="2.22.1" targetFramework="net48" />
  <package id="DotNetBrowser.Chromium.Win-x86.Net45" version="2.22.1" targetFramework="net48" />
  <package id="DotNetBrowser.WinForms" version="2.22.1" targetFramework="net48" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net48" />
  <package id="GoogleChrome" version="57.0.2987.98" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net48" />
</packages>